.texTo{
    font-weight: bold;
    font-size: 35px;
    font-family: "Roboto Slab", serif;
}

.texTo2{
    font-size: 20px;
    font-family: "Roboto Slab", serif;
}

.contTextoChido{
    background-color: rgb(255,255,255);
    padding: 40px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    width: max-content;
}